@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh; 
  background-color: plum;
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    min-width: 1em;
    max-width: 90%;
    width: 100%;
    margin: 0 1em;
    height: auto;
  }
}

input[name="slide"] {
  visibility: hidden;
  height: 0%;
  width: 0%;
}

.slider {
  width: 400%;
  height: 90%; 
  display: flex;
  background-color: blueviolet;
}

@media screen and (max-width: 768px) {
  .slider {
    max-height: 80%;
  }
}

.slide {
  width: 25%;
  transition: 1s;
  display: flex;
}

img {
  object-fit: cover;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.nav {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2% 2%;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 20%;
  }
}

.text-cont {
  width: 25%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .text-cont {
    width: 100%;
  }
}

.text {
  width: 400%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.txt {
  width: 25%;
  font-size: 1.3em;
  font-weight: bold;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .txt {
    width: 50%;
    font-size: 1em;
    align-self: flex-start;
  }
}

.btns {
  max-width: 9em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  height: 3em;
  width: 3em;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  width: 1em;
  height: 1em;
  background-color: blueviolet;
  border-radius: 50%;
  transition: ease-in-out 0.3s;
}

label:hover .btn {
  background-color: lavender;
  transform: scale(1.2);
  box-shadow: 0em 0em 0.2em black;
}

label:active .btn {
  transform: scale(0.8);
}

#slide1:checked ~ .nav > .btns > label[for="slide1"] > .btn,
#slide2:checked ~ .nav > .btns > label[for="slide2"] > .btn,
#slide3:checked ~ .nav > .btns > label[for="slide3"] > .btn,
#slide4:checked ~ .nav > .btns > label[for="slide4"] > .btn
  {
  background-color: hotpink;
  transform: scale(1.1);
}

#slide1:checked ~ .slider > .img1 {
  margin-left: 0;
}
#slide2:checked ~ .slider > .img1 {
  margin-left: -25%;
}
#slide3:checked ~ .slider > .img1 {
  margin-left: -50%;
}
#slide4:checked ~ .slider > .img1 {
  margin-left: -75%;
}


#slide1:checked ~ .nav > .text-cont > .text > .txt1 {
  margin-left: 0;
}
#slide2:checked ~ .nav > .text-cont > .text > .txt1 {
  margin-left: -25%;
}
#slide3:checked ~ .nav > .text-cont > .text > .txt1{
  margin-left: -50%;
}
#slide4:checked ~ .nav > .text-cont > .text > .txt1{
  margin-left: -75%;
}